<!DOCTYPE html>
<html>

<%- include('./partial/head.ejs') %> 
<body>
	<%- include('./partial/nav.ejs') %> 
<hr>
<div class="container">
<h2>RGB Color : <span id="span"></span></h2>
<%- include('./partial/button.ejs') %> 
</div>


<%- include('./partial/footer.ejs') %> 
</body>
</html>


