<nav>
    <div class="nav-center">
        <h1>Color <span>Selector</span></h1>
        <ul class="nav-link">
            <li>
                <a href="/hex3">Hex3 Color</a>
            </li>
            <li>
                <a href="/hex6">Hex6 Color</a>
            </li>
            <li>
                <a href="/">RGB Color</a>
            </li>
        </ul>
        <button class="bar"><i class="fas fa-bars"></i></button>
    </div>
</nav>